<h1>Challenge A User</h1>
Crush their ego utterly.
<br><br>
<form method="POST" action="/challenge">
  <select name="first">
    <% @users.each do |user| %>
      <option class="username"><%= user.username %></option>
    <% end %>
  </select>
  VS
  <select name="second">
    <% @users.each do |user| %>
      <option class="username"><%= user.username %></option>
    <% end %>
  </select>
  <input type="submit" value="Submit">
</form>
