<h1>Challenge A User</h1>
Crush their ego utterly.
<br><br>
<%= form_with url: '/challenge' do |f|  %>
  <%= f.select :first, @users.map { |u| u.username }, prompt: 'first user' %>
  <p>VERSUS<p>
  <%= f.select :second, @users.map { |u| u.username }, prompt: 'second user' %>
  <br><br>
  <%= f.submit %>
<% end %>