<h1>Challenge A User</h1>
<p>Crush their ego utterly.</p>

<%= form_with url: profile_commence_challenge_path, local: true do |f|  %>
  <%= f.select :first, @users.map { |u| u.username }, prompt: 'first user' %>
  <p>VERSUS<p>
  <%= f.select :second, @users.map { |u| u.username }, prompt: 'second user' %>
  <br><br>
  <%= f.submit %>
<% end %>
