<h1>Challenge A User!</h1>
<p>Crush their ego utterly <strong><%= current_user.username %></strong>!</p>

<%= form_with url: profile_commence_challenge_path, local: true do |f|  %>
  <h2>VERSUS<h2>
  <%= f.select :second, @users.map { |u| u.username }, prompt: 'Select a Challenger!' %>
  <br><br>
  <%= f.submit 'Fists Up! ✊' %>
<% end %>
