<h1>Routes For Your Eyeballs</h1>
<p><a href="/ownedcars">look at thems ownedcars</a></p>
<p><a href="/garages">look at thems garages</a></p>
<p><a href="/users">look at thems users</a></p>
<p><a href="/users/new">Make thems user</a></p>
<p><a href="/cars">look at thems cars</a></p>