<h1>Routes For Your Eyeballs</h1>
<h2>Cars</h2>
<p><a href="/ownedcars">look at thems ownedcars</a></p>
<p><a href="/cars">look at thems cars</a></p>
<p><a href="/cars/new">Make one of thems cars</a></p>

<h2>Garages</h2>
<p><a href="/garages">look at thems garages</a></p>
<p><a href="/garages/new">Make one of thems garage</a></p>

<h2>Users</h2>
<p><a href="/users">look at thems users</a></p>
<p><a href="/users/new">Make one of thems users</a></p>
