<h1>Routes For Your Eyeballs</h1>

<h2>Profile</h2>
<ul>
  <li><%= link_to 'View your profile', profile_path %></li>
</ul>

<h2>Cars</h2>
<ul>
  <li><%= link_to 'Look at thems ownedcars', ownedcars_path %></li>
  <li><a href="/cars">look at thems cars</a></li>
  <li><a href="/cars/new">Make one of thems cars</a></li>
</ul>

<h2>Garages</h2>
<ul>
  <li><a href="/garages">look at thems garages</a></li>
  <li><a href="/garages/new">Make one of thems garage</a></li>
</ul>

<h2>Users</h2>
<ul>
  <li><a href="/users">look at thems users</a></li>
  <li><%= link_to('Make one of thems users', new_user_registration_path) %></li>
</ul>

<h2>Challenge</h2>
<ul>
  <li><a href="/challenge">Challenge another of thems users</a></li>
</ul>
